DIRECTORY="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

export ASDF_DIR="${DIRECTORY}/.asdf"
export ASDF_DATA_DIR="${ASDF_DIR}"

export NODEJS_CHECK_SIGNATURES=no

source "${ASDF_DIR}/asdf.sh"
