# Versions of GDK dependencies managed by asdf.
#
# New versions must be introduced alongside the current version, and are automatically installed by
# GDK for asdf users.
#
# <default-version> <other-version>
ruby 2.7.2 3.0.0
golang 1.15.5
nodejs 14.15.4
yarn 1.22.5
minio 2021-02-01T22-56-52Z
postgres 11.9 12.4
redis 6.0.10
