# See https://docs.gitlab.com/ee/development/distributed_tracing.html for details
# of how to configure these values
GITLAB_TRACING=opentracing://driver
GITLAB_TRACING_URL=http://localhost:16686/search?service={{ service }}&tags=%7B"correlation_id"%3A"{{ correlation_id }}"%7D
