# Code Owners - https://docs.gitlab.com/ee/user/project/code_owners.html

# Maintainers
[Code]
* @gitlab-org/maintainers/gitlab-development-kit

# Technical writing team are the default reviewers for everything in `doc/`
^[Documentation]
/doc/ @axil @eread @marcel.amirault @fneill
