# Code Owners - https://docs.gitlab.com/ee/user/project/code_owners.html

[Maintainers]
* @gitlab-org/maintainers/gitlab-development-kit
.ruby-version @gitlab-org/maintainers/gitlab-development-kit @eread
.tool-versions* @gitlab-org/maintainers/gitlab-development-kit @eread
/doc/ @axil @eread @marcel.amirault @fneill @jglassman1
