.verify-job:
  stage: verify
  extends: .rules:code-changes
  needs:
    - release-image
  artifacts:
    paths:
      - ./gdk/gitlab/log/*.log
      - ./gdk/log
      - ./gdk/sv/*/run
    expire_in: 2 days
    when: always
  variables:
    GEM_HOME: "$CI_PROJECT_DIR/.gem"
    GEM_PATH: "$CI_PROJECT_DIR/.gem"
    GOCACHE: "$CI_PROJECT_DIR/.cache/go-build"
    GOMODCACHE: "$CI_PROJECT_DIR/.cache/go-mod"
  cache:
    - key:
        files:
          - '.ruby-version'
          - '.gitlab/ci/verify.gitlab-ci.yml'
      paths:
        - "$CI_PROJECT_DIR/.gem"
      policy: pull-push
    - key:
        files:
          - '.tool-versions-gdk'
      paths:
        - "$CI_PROJECT_DIR/.cache/go-build"
        - "$CI_PROJECT_DIR/.cache/go-mod"
      policy: pull-push

install:
  extends: .verify-job
  script:
    - support/ci/verify-install

one-line-install:
  extends: .verify-job
  script:
    - support/ci/verify-one-line-install

doctor:
  extends: .verify-job
  script:
    - support/ci/verify-doctor

debug-info:
  extends: .verify-job
  script:
    - bin/gdk debug-info

reconfigure:
  extends: .verify-job
  script:
    - support/ci/verify-reconfigure

reset-data:
  extends: .verify-job
  script:
    - support/ci/verify-reset-data

pristine:
  extends: .verify-job
  script:
    - support/ci/verify-pristine

update-from-default-branch:
  extends: .verify-job
  script:
    - support/ci/verify-update $CI_DEFAULT_BRANCH

update-from-mr-branch:
  extends: .verify-job
  script:
    - support/ci/verify-update
